.container__home{
  background-color: #f2f2f2f2;
  height: 100vh;
  margin: 0;
}

/* ----------Cabecera principal---------- */
/* Se lo realizo componente para reutilizarlo en todas las paginas */

/* ----------Contenido de la pagina---------- */
.main{
  height: 75vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  /* background-color: aqua; */

  .main__welcome{
    display: flex;
    margin: 0px 10px 15px 10px;
    /* background-color: #ff5500; */

    .welcome{
      color: dimgray;
    }

    .user_welcome{
      color: red;
    }
  }

  .main__form{
    display: flex;

    .form__search{

      .form__input{
        border-style: none;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        padding-left: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        outline: none;
        width: 200px;
      }

      .form__button{
        border-style: none;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 5px;
        padding-right: 5px;
        color: dimgrey;
        background-color: gold;
        margin-right: 30px;
      }
    }
  }

  .cards_pokemons{
    display: flex;
    justify-content: center;
    overflow: auto;
    gap: 10px;
    /* background-color: #ff5500; */
    flex-wrap: wrap;
    padding: 15px 20px 0px 20px;
    width: 100%;
    margin-top: 10px;

    .container_not_found{
      
      .not_found{
        text-align: center;
        color: darkgray;
      }

      .not_found_icon{
        text-align: center;
        font-size: 50px;
      }
    }
  }
}

/* ----------Pie de pagina--------- */
.footer{
  /* background-color: chartreuse; */
  height: 7vh;
  display: flex;
  align-items: center;
  justify-content: center;

  p{
    color: dimgray;
  }
}


@media screen and (max-width: 450px) {
  .main{
    .main__form{
      flex-direction: column;
      align-items: center;
      margin-top: 0;
    }
  }
}